{% extends 'layouts/default.html' %} 

{% block content %}

<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12">
                <div class="card-panel green lighten-2">
                    <h1 class="white-text">{{ title }}</h1>
                    <span class="white-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit praesentium blanditiis neque ex modi harum voluptates temporibus. Recusandae corrupti nemo eaque quae, aliquid consequuntur sequi beatae ut odit quod atque.
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
