{% extends 'layouts/default.html' %} 

{% block content %}

<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12">
                <div class="card-panel green lighten-2">
                    <h1 class="white-text">{{ title }}</h1>
                    <span class="white-text"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit praesentium blanditiis neque ex modi harum voluptates temporibus. Recusandae corrupti nemo eaque quae, aliquid consequuntur sequi beatae ut odit quod atque.</span>
                    <span>Laudantium odio, ex! Dicta rerum beatae voluptatum blanditiis nulla voluptas est accusantium, aspernatur repellat maiores aliquid enim. Alias fugiat nostrum aliquam possimus dolorum deleniti, eos incidunt ea, repellat, consectetur dicta!</span>
                    <span>Nostrum, vero omnis sint doloribus natus porro! Voluptas accusantium, pariatur veniam ducimus quis, assumenda officiis nostrum architecto quia odio hic ullam suscipit eveniet itaque at ex aperiam ad nobis. Voluptatem?</span>
                    <span>Culpa unde ab, nulla explicabo optio adipisci architecto nam corporis. Provident delectus praesentium laboriosam, nesciunt rem ratione blanditiis distinctio earum culpa impedit adipisci ducimus ad dolores odio minima, recusandae dicta.</span>
                    <span>Dolore doloribus ea maiores nostrum consequuntur possimus, reiciendis similique nam officiis asperiores omnis suscipit vel totam voluptates vero praesentium, iure a? Omnis tempora voluptatum itaque provident similique deleniti at, aliquam.</span>
                    <span>Deleniti optio nihil modi odio cupiditate tenetur saepe, enim ex sit repudiandae accusantium aut illo quibusdam tempore aspernatur minus quod unde, at est eligendi quam illum? Esse perspiciatis iste, necessitatibus.</span>
                    <span>Nam, labore est optio similique vitae impedit et laudantium hic, quisquam sapiente quae minima harum corporis. Velit odit neque non vel, numquam eum repellat vitae, omnis, soluta unde vero veritatis.</span>
                    <span>Adipisci consequatur obcaecati, facilis, necessitatibus veritatis laborum pariatur eum, blanditiis fugiat quam quis amet? Excepturi dolore atque modi iste ipsum veniam ratione esse dolor mollitia quibusdam nemo saepe minima, odio?</span>
                    <span>Culpa, temporibus maiores? Quidem delectus itaque voluptatibus suscipit quia. Est neque laborum fugit cupiditate, quaerat nihil. Dolor possimus nihil, necessitatibus consequatur. Reprehenderit, provident facere consectetur eveniet hic eos, aperiam porro.</span>
                    <span>Consectetur sapiente odio commodi temporibus illo, dolorum, sunt soluta eveniet nulla, voluptate, ratione natus ducimus possimus neque accusamus? Aspernatur fuga voluptates aperiam eaque nemo consequatur, quo odio nulla dolorum provident.</span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
